@using System.Security.Claims;
@model List<Post>
<div class="row">
    <div class="col-12">
        <h2>List</h2>
        <a href="/posts/create" class="btn btn-primary">New Post</a>
        <hr />

        @if(Model.Count == 0)
        {
            <p>You don't have any posts yet. Let's add one!</p>
        }
        else
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 200px;">Image</th>
                        <th>Title</th>
                        <th>Approval status</th>
                        <th style="width: 125px;"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><img src="~/img/@item.Image" class="img-fluid" alt=""></td>
                            <td>@item.Title</td>
                            <td>
                                @if (User.FindFirstValue(ClaimTypes.Role) == "admin")
                                {
                                    @if (@item.IsActive == false)
                                    {
                                        <p>Author awaiting approval...</p>
                                    }
                                    else
                                    {
                                        <p>You approved</p>
                                    }
                                }
                                else
                                {
                                    @if (@item.IsActive == false)
                                    {
                                        <p>Pending...</p>
                                    }
                                    else
                                    {
                                        <p>Congratulations! Your post has been approved by admin</p>
                                    }
                                }


                            </td>
                            <td class="d-flex">
                                <a href="/posts/edit/@item.PostId" class="btn btn-sm btn-primary">Edit</a>

                                <a class="btn btn-sm btn-danger btn-delete" id="btn1" data-post-id="@item.PostId" style="margin-left: 10px; color:white;">Delete</a>


                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.7/sweetalert2.min.js"></script>
<link href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.min.css
" rel="stylesheet">
<script>
    $('.btn-delete').click(function () {
        var postId = $(this).data('post-id');
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: "Deleted!",
                    text: "Your file has been deleted.",
                    icon: "success"
                }).then(() => {
            
                window.location.href = "/posts/delete/" + postId;
            });
               

            }
        });


        });
   
</script>